---
import Layout from '../layouts/Layout.astro';
---

<Layout title="장준혁 | 프론트 엔지니어">
	<div class="flex justify-between my-10">
		<div class="flex flex-col justify-end">
			<h1 class="text-3xl font-bold">장준혁</h1>
			<h2 class="text-lg text-[#c7aaaa]">프론트 엔지니어</h2>
		</div>
		<div class="flex flex-col">
			<p>Email: <a href="mailto:dndhkaus1004@naver.com" class="text-[#c7aaaa] font-bold">dndhkaus1004@naver.com</a></p>
			<p>GitHub: <a href="https://github.com/CitrusSoda" target="_blank" class="text-[#c7aaaa] font-bold">CitrusSoda</a></p>
		</div>
	</div>
	<div class="flex flex-col text-[60px] font-bold">
		<h2>안녕하세요<span class="text-[#ff7f50]">,</span></h2>
		<h2>프론트 엔지니어 장준혁입니다<span class="text-[#ff7f50]">.</span></h2>
	</div>
</Layout>