---
const { title, role, period, description } = Astro.props;
---

<div class="flex flex-col my-10">
  <h3 class="xl:text-2xl md:text-lg text-base font-medium">{title}</h3>
  <div class="flex flex-col mt-4">
    <p>{role}</p>
    <p>{period}</p>
  </div>
  <div class="mt-6">
    <p>{description}</p>
  </div>
</div>
<hr />
